.comp-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-one {
  position: absolute;
  top: 200px;
  display: flex;
  font-weight: bold;
}

.text-two {
  position: absolute;
  top: 260px;
}

.search-input {
  display: flex;
  width: 600px;
  height: 50px;
  position: absolute;
  top: 320px;
  background-color: #fff;
  border-radius: 5px;
}

.icon-search {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 15px;
  font-size: 26px;
  color: rgb(194, 190, 190);
}

.s-input {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  border: 0;
}

.select-input {
  position: absolute;
  left: 350px;
  top: 7px;
  padding-right: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  background-color: rgb(194, 190, 190) !important;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: left 90px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.search-btn {
  position: absolute;
  left: 480px;
  top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 2px;
  background-color: #1976d2;
  color: #fff;
}


