.second-search {
  position: absolute;
  top: 380px;
  width: 600px;
  height: 90px;
  background-color: #fff;
  border-radius: 5px;
}

.para-three {
  position: absolute;
  display: flex;
  left: 15px;
  font-weight: bold;
  justify-content: baseline;
  color: black;
  font-size: 15px;
}

.view-more {
  position: absolute;
  display: flex;
  justify-content: baseline;
  left: 525px;
  top: 2px;
  color: #1976d2;
  font-size: 12px;
}

.all-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 40px;
  margin-left: 10px;
}

button {
  padding-left: 7.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-right: 7.5px;
  margin-left: 5px;
  border: 0;
  border-radius: 3px;
}

.btn-one {
  background-color: #1976d2;
  color: #fff;
}

.compare {
  position: absolute;
  top: 230px;
  left: 100px;
  color: #fff;
}

.store-img {
  position: absolute;
  top: 230px;
  border-radius: 5px;
}
