* {
  box-sizing: border-box;
}

.second-search {
  position: absolute;
  top: 380px;
  width: 600px;
  height: 90px;
  background-color: #fff;
  border-radius: 5px;
}

.para-three {
  position: absolute;
  display: flex;
  left: 15px;
  font-weight: bold;
  justify-content: baseline;
  color: black;
  font-size: 15px;
}

.view-more {
  position: absolute;
  display: flex;
  justify-content: baseline;
  left: 525px;
  top: 2px;
  color: #1976d2;
  font-size: 12px;
}

.all-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 40px;
  margin-left: 10px;
}

button {
  padding-left: 7.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-right: 7.5px;
  margin-left: 5px;
  border: 0;
  border-radius: 3px;
}

.btn-one {
  background-color: #1976d2;
  color: #fff;
}

.play-store {
  position: absolute;
  top: 220px;
  left: 150px;
  display: flex;
  flex-direction: reverse;
  flex-wrap: nowrap;
}

.compare {
  display: flex;
  color: #fff;
  margin-right: 10px;
}

@media screen and (min-height:1080px){
  .play-store {
    top: 630px;
  }
} 





